## Sets

Sets are collection of `distinct` object. Sets in python has following characteristics
- Sets are `unordered`.
- Set elements are `unique`. Duplicate elements are not allowed.
- Sets are `mutable`. A set itself may be modified, but the elements contained in the set must be of an immutable type.

### Immutable vs Hashable?

- An object is called immutable when it cannot be modifed once created. Like integer, strings, float, bool, tuple
- An object is called hashable when you can run hash() method on it and it doesn't throw any error.
- All immutable objects are hashable but not all hashable objects are immutable. You can create a class and define hash method in it to make it hashable.

In [1]:
print(hash(1))
print(hash(True))
print(hash('ABC'))
print(hash((1,2,3)))

1
1
-3006529676929646211
529344067295497451

In [2]:
print(hash([1,2,3]))

TypeError: unhashable type: 'list'

In [3]:
print(hash({1:2}))

TypeError: unhashable type: 'dict'

#### sets can be created in two diff ways

- using set() built-in method
`s = set(<iter>)`
- using `{}` braces with comma seperated immutable objects as elements

In [4]:
## set(<iter>)  all elements of an iterable will be added to the set.each element of an iterable must be an immutable object
s = set(['abc',1,2,3])
print(type(s),s)

<class 'set'> {1, 2, 3, 'abc'}

In [5]:
s1 = set({1:'one',2:'two'})
print(type(s1),s1)

<class 'set'> {1, 2}

In [6]:
s2 = set((1,2,3,4))
print(type(s2),s2)

<class 'set'> {1, 2, 3, 4}

In [7]:
s3 =set('hello')  ##  duplicate values only represented as once
print(type(s3),s3)

<class 'set'> {'e', 'l', 'o', 'h'}

In [8]:
## using {} braches
a = {1,2,3,'hello',(1,2,3)}
print(type(a),a)

<class 'set'> {1, 2, 3, (1, 2, 3), 'hello'}

In [9]:
a = {1,2,3,'hello',(1,2,3),[1,2]}
print(type(a),a)

TypeError: unhashable type: 'list'

In [10]:
a = {1,2,3,'hello',{1:2}}
print(type(a),a)

TypeError: unhashable type: 'dict'

In [11]:
a = {1,2,3,'hello',{1,2,3}}
print(type(a),a)

TypeError: unhashable type: 'set'

In [12]:
x = {'foo','spam',1,2,'foo','spam',1,2}
x

{1, 2, 'foo', 'spam'}

In [13]:
## only way to create empty set
s= set()
print(s,bool(s)) ## empty set is falsy
s1 = {} ## python defines empty curly braces as dictionary
print(type(s1))

set() False
<class 'dict'>

In [14]:
#membership operator in sets
s = {1,2,3,4,'abc'}
print(1 in s)
print('abc' in s)
print(10 not in s)
print('a' in s)

True
True
True
False

In [15]:
print(len(s))
print(len({1,2,(1,2,3)}))
print(len({1,2,3,4,4,4,4})) ##duplicates are not counted

5
3
4

##  Set Operations

- Sets in python cannot be indexed or sliced,however there are python provides whole host of operations that mimic the operations performed on mathematical set like Union, intersect and difference
- Set operations on python can be performed in two diff ways, by operators and by methods.
- Set methods take iterables as argument, convert it to a set and then perform the operations. On the other hand when you use operator, both operands on each side of operator must be set.
- Set operations works left to right When multiple sets are specified. So for a | b | c , a|b executes first,output of which will be then used as operand to perform union with c

In [17]:
x1 = {'foo', 'bar', 'baz','bar'}
x2 = {'baz', 'qux', 'quux'}
print(x1,x2,sep='\n')

{'baz', 'bar', 'foo'}
{'quux', 'baz', 'qux'}

In [18]:
## using method x1.union(x2[,x3), arguments must be an iterable. x1.union(x2) and x1 | x2 both return the set of all elements in either x1 or x2
x= x1.union(x2)
print(x)
print({1,2,3,4}.union((2,3,4,5)))
print({1,2,3,4}.union('hello'))
print({1,2,3,4}.union([2,3,(4,5)]))

{'qux', 'quux', 'baz', 'bar', 'foo'}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 'e', 'l', 'h', 'o'}
{1, 2, 3, 4, (4, 5)}

In [19]:
##using operator x1 | x2
#x1 and x2 are operands and must be set
print(x1|x2)
print({1,2,3,4} | {4,5,6,7})

{'qux', 'quux', 'baz', 'bar', 'foo'}
{1, 2, 3, 4, 5, 6, 7}

In [20]:
print({1,2,3,4} | (4,5,6,7)) ## this will throw an error as second operand is not set

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [21]:
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}

a | b | c | d  ## a|b will execute first then output set will be evaluated with c and the resulted set will be evaluated with d

{1, 2, 3, 4, 5, 6, 7}

In [22]:
a.union(b,c,d)

{1, 2, 3, 4, 5, 6, 7}

In [23]:
## x1.intersection(x2[,x3), arguments must be iterables. x1.intersection(x2) and x1 & x2 return the set of elements common to both x1 and x2
print(x1.intersection(x2))
print({1,2,3,4}.intersection((2,3,4,5)))
print({1,2,3,4}.intersection('hello'))
print({1,2,3,4}.intersection([2,3,(4,5)]))

{'baz'}
{2, 3, 4}
set()
{2, 3}

In [24]:
## using operator
#x1 and x2 are operands and must be set
print(x1 & x2)
print({1,2,3,4} & {4,5,6,7})
print({1,2,3,4} & (4,5,6,7))

{'baz'}
{4}

TypeError: unsupported operand type(s) for &: 'set' and 'tuple'

In [25]:
print(a & b & c & d)
print(a.intersection(b,c,d))

{4}
{4}

In [26]:
## x1.difference(x2[,x3), arguments must be iterables. x1.difference(x2) and x1 - x2 return the set of all elements that are in x1 but not in x2
print(x1.difference(x2))
print(x2.difference(x1))
print({1,2,3,4}.difference((2,3,4,5)))
print({1,2,3,4}.difference('hello'))
print({1,2,3,4}.difference([2,3,(4,5)]))

{'bar', 'foo'}
{'quux', 'qux'}
{1}
{1, 2, 3, 4}
{1, 4}

In [27]:
## using operator
#x1 and x2 are operands and must be set
print(x1 - x2)
print(x2 - x1)
print({1,2,3,4} - {4,5,6,7})
print({1,2,3,4} - (4,5,6,7))

{'bar', 'foo'}
{'quux', 'qux'}
{1, 2, 3}

TypeError: unsupported operand type(s) for -: 'set' and 'tuple'

In [28]:
print(a-b-c-d)
print(a.difference(b,c,d))

{1}
{1}

In [30]:
## x1.symmetric_difference(x2), takes only one argument and must be iterable. x1.symmetric_difference(x2) and x1 ^ x2 return the set of all elements in either x1 or x2, but not both.
print(x1.symmetric_difference(x2))
print({1,2,3,4}.symmetric_difference((2,3,4,5)))
print({1,2,3,4}.symmetric_difference('hello'))
print({1,2,3,4}.symmetric_difference([2,3,(4,5)]))

{'qux', 'bar', 'quux', 'foo'}
{1, 5}
{1, 2, 3, 'e', 4, 'l', 'o', 'h'}
{1, (4, 5), 4}

In [31]:
## using operator
#x1 and x2 are operands and must be set
print(x1 ^ x2)
print({1,2,3,4} ^ {4,5,6,7})
print({1,2,3,4} ^ (4,5,6,7))

{'qux', 'bar', 'quux', 'foo'}
{1, 2, 3, 5, 6, 7}

TypeError: unsupported operand type(s) for ^: 'set' and 'tuple'

In [33]:
print(a ^ b ^ c ^ d)
print(a.symmetric_difference(b,c,d)) ##.symmetric_difference() method doesn’t allow multiple iterables

{1, 3, 5, 7}

TypeError: set.symmetric_difference() takes exactly one argument (3 given)

In [34]:
## x1.disjoint(x2), this method accepts only one argument and that is iterable, it returns True if x1 and x2 have no elements in common
print(x1.isdisjoint(x2))
print({1,2,3,4}.isdisjoint({5,6,7,8}))

#If x1.isdisjoint(x2) is True, then x1 & x2 is the empty set
print({1,2,3,4}.isdisjoint({5,6,7,8}))
print({1,2,3,4}.intersection({5,6,7,8}))

False
True
True
set()

In [35]:
# x1.issubset(x2), this method accepts only one argument and that is iterable, it returns true if all elements of x1 are present in x2
x1 = {1,2,3}
x2 = {1,2,3,4}
print(x1.issubset(x2))
print(x1 <= x2) # for <= operator, both x1 and x2 must be set

True
True

In [36]:
##proper subset. x1 < x2. it returns true if x1 and x2 are not identicle and all elements of x1 are part of x2

print({1,2,3} < {1,2,3,4})
print({1,2,3} < {1,2,3})
print(x1 <= x1 , x1 < x1) #While a set is considered a subset of itself, it is not a proper subset of itself:

True
False
True False

In [37]:
# x1.issuperset(x2) this method accepts only one argument and that is iterable, it returns true if all elements of x2 are present in x1
print(x1.issuperset(x2))
print(x2.issuperset(x1))
print(x1.issuperset(x1)) ## a set is superset of itself
print(x1>=x2) ##using operator >= both operands must be set
print(x2>=x1)

False
True
True
False
True

In [38]:
## proper superset. it returns true if x1 and x2 are unidentical and all elements of x2 are present in x1
print(x2 > x1)
print({1,2,3,4} > {1,2,3,4})
print({1,2,3,5} > {1,2,3})

True
False
True

In [39]:
## modifying a set
x = {'foo','bar','abc'}
print(id(x))

#x.add(<ele>) this method will add element to the set. Element must be immutable object
x.add('spam')
print(id(x))
print(x)

140665289464960
140665289464960
{'spam', 'bar', 'abc', 'foo'}

In [40]:
x.add([1,2,3])

TypeError: unhashable type: 'list'

In [41]:
x.add((1,2,3))
x

{(1, 2, 3), 'abc', 'bar', 'foo', 'spam'}

In [42]:
#x.remove(<elem>) this method will remove the element from the set x. element must be present in the set else it will throw KeyError exception
x.remove('spam')
x

{(1, 2, 3), 'abc', 'bar', 'foo'}

In [43]:
x.remove('ham')

KeyError: 'ham'

In [44]:
# x.discard(<element>) this method will remove the element from the set x. element must be present in the set else it will do nothing
x.discard((1,2,3))
x

{'abc', 'bar', 'foo'}

In [45]:
x.discard('hello')
x

{'abc', 'bar', 'foo'}

In [46]:
## x.pop() this method will remove and return random element from the set. if set is empty it will throw an exception
x.pop()

'bar'

In [47]:
x.pop()
x

{'foo'}

In [48]:
x.pop()
x

set()

In [49]:
x.pop()

KeyError: 'pop from an empty set'

In [50]:
#x.clear() method clear all elements from the set
print(x1)
x1.clear()
print(x1)

{1, 2, 3}
set()

### Modifying a set

Although the elements contained in a set must be of immutable type, sets themselves can be modified. 
Each of the union, intersection, difference, and symmetric difference operators listed above has an augmented assignment form that can be used to modify a set

In [52]:
x1 = {'foo', 'bar', 'baz','bar'}
x2 = {'baz', 'qux', 'quux'}
print(x1,x2,sep='\n')

{'baz', 'bar', 'foo'}
{'quux', 'baz', 'qux'}

In [53]:
## x1.update(x2[,x3)  this method will update x1 with all the elements of x2 and x3. Argumnets to this method must be iterables
##union returns a new set with combination of all elements of x1 and x2. update does not return anything, instead it updates first operand set with all elements from other sets

print(x1.union(x2))
print(x1)

print(x1.update(x2))
print(x1)
print(x1.update([1,2,3]))
print(x1)

{'qux', 'quux', 'baz', 'bar', 'foo'}
{'baz', 'bar', 'foo'}
None
{'qux', 'quux', 'baz', 'bar', 'foo'}
None
{1, 2, 3, 'qux', 'quux', 'baz', 'bar', 'foo'}

In [55]:
### x1 |= x2 [|x3 |x4...] update can be done by operators also. operands must be set. this will update x1 with all elements of x2,x3,x4
a = {1,2,3,4}
b= {4,5,6}
c={6,7}
d = {8}

a |= b | c | d  ### a |= (b |(c|d))
print(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [65]:
## x1.intersection_update(x2[,x3) this method will update x1 with all the elements which are in x1 and x2. Argumnets to this method must be iterables
##intersection returns a new set with all elements which are common in  x1 and x2. intersection_update does not return anything, instead it updates first operand set with all elements which are common in both sets

x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux','foo'}

print(x1.intersection(x2))
print(x1)

print(x1.intersection_update(x2))
print(x1)

{'foo', 'baz'}
{'foo', 'bar', 'baz'}
None
{'foo', 'baz'}

In [56]:
### x1 &= x2 [&x3 &x4] ### using operators
a = {1,2,3,4,6}
b= {4,5,6}
c={6,7}
d = {8,6}

a &=b & c & d # a &= (b & (c & d))
print(a)

{6}

In [57]:
# x1.difference_update(x2[,x3) this method will update x1 with all elements which are present in x1 but not in x2
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux','foo'}

print(x1.difference(x2))
print(x1)

print(x1.difference_update(x2))
print(x1)

{'bar'}
{'baz', 'bar', 'foo'}
None
{'bar'}

In [58]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux','foo'}

print(x2.difference(x1))
print(x2)

print(x2.difference_update(x1))
print(x2,x1,sep='\n')

{'quux', 'qux'}
{'quux', 'baz', 'qux', 'foo'}
None
{'qux', 'quux'}
{'baz', 'bar', 'foo'}

In [59]:
### x1 -= x1 [ | x2 |x3] ### observe that operands in square brackets are unioned not minused

a = {1,2,3,4,6}
b= {4,5,6}
c={6,7}
d = {8,6}

a.difference_update(b,c,d)
print(a)

a = {1,2,3,4,6}
b= {4,5,6}
c={6,7}
d = {8,6}

a -= b | c | d # a-=(b | (c|d))
print(a)

### if we use - then observe the ourout
a = {1,2,3,4,6}
b= {4,5,6}
c={6,7}
d = {8,6}

a -= b - c - d ###observe the output
print(a)

{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6}

In [60]:
#x1.symmetric_difference_update(x2) this method will update x1 with all elements which are either in x1 or x2 but not in both. it takes only one argument

x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux','foo'}

print(x1.symmetric_difference(x2))
print(x1)

print(x1.symmetric_difference_update(x2))
print(x1)

{'qux', 'bar', 'quux'}
{'baz', 'bar', 'foo'}
None
{'qux', 'bar', 'quux'}

In [61]:
### x1 ^= x2 

a = {1,2,3,4,6}
b= {4,5,6}

print(a ^ b)
print(a)

a ^= b

print(a)

{1, 2, 3, 5}
{1, 2, 3, 4, 6}
{1, 2, 3, 5}

In [62]:
## Augmented assignment in sets
## x |= {1}  is not same as x = x | {1}

x = {1,2,3}
y = x
print(id(x),id(y),sep='\n')
print(x,y,sep='\n')
print()

x |= {4}
print(id(x),id(y),sep='\n')
print(x,y,sep='\n')

140665289463840
140665289463840
{1, 2, 3}
{1, 2, 3}

140665289463840
140665289463840
{1, 2, 3, 4}
{1, 2, 3, 4}

In [78]:
x = x | {10} #creates new object and assign it's ref to x
print(id(x),id(y),sep='\n')
print(x,y,sep='\n')

140579656580224
140578846125856
{1, 2, 3, 4, 10}
{1, 2, 3, 4}

## frozen sets
Python provides another built-in type called a frozenset, which is in all respects exactly like a set, except that a frozenset is immutable. You can perform non-modifying operations on a frozenset

In [63]:
x = frozenset([1,2,3,4])
x

frozenset({1, 2, 3, 4})

In [64]:
x.add(5)  ## we cannot modify frozenset as it is immutable

AttributeError: 'frozenset' object has no attribute 'add'

In [65]:
x.clear()

AttributeError: 'frozenset' object has no attribute 'clear'

In [66]:
# we can perform normal set operations on frozenset
print(x.intersection([3]))
print(x)
print(type(x),'->',id(x))
print(x.union('hello'))
print(type(x),'->',id(x))
print(type(x.union('hello')),'->',id(x.union('hello')))

frozenset({3})
frozenset({1, 2, 3, 4})
<class 'frozenset'> -> 140664485105216
frozenset({1, 2, 3, 4, 'e', 'l', 'h', 'o'})
<class 'frozenset'> -> 140664485105216
<class 'frozenset'> -> 140664485103648

In [67]:
print(x.update('hi'))

AttributeError: 'frozenset' object has no attribute 'update'

In [87]:
s = {frozenset({1,2,3})} # elements of the set must be immutable.Frozenset is immutable.
print(s,type(s))
s1 = set([frozenset('hello')])
print(s1,type(s1))

{frozenset({1, 2, 3})} <class 'set'>
{frozenset({'e', 'h', 'l', 'o'})} <class 'set'>

In [68]:
###aumented assignment works differently in case of frozen set  so x|= {1} here means x = x | {1}

x = frozenset({1})
y = x 
print(id(x),id(y),sep='\n')
print(x,y,sep='\n')
print()

x |= {3}
print(id(x),id(y),sep='\n')
print(x,y,sep='\n')
print()

x = frozenset({1})
y = x 
x = x | {3}
print(id(x),id(y),sep='\n')
print(x,y,sep='\n')

140664485103872
140664485103872
frozenset({1})
frozenset({1})

140664485104992
140664485103872
frozenset({1, 3})
frozenset({1})

140664485103872
140664743756736
frozenset({1, 3})
frozenset({1})

In [70]:
### sets are very fast 

def init_sets():
    s = set()
    for i in range(1000):
        s.add(i)
    return s

def init_list():
    lst = list()
    for i in range(1000):
        lst.append(i)
    return lst

def init_tuple():
    tup = tuple()
    for i in range(1000):
        tup += (i,)
    return tup

In [71]:
%timeit init_sets()

56.2 µs ± 234 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [72]:
%timeit init_list()

53.7 µs ± 466 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [73]:
%timeit init_tuple()

969 µs ± 9.68 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [74]:
s= init_sets()
lst = init_list()
tup = init_tuple()

In [75]:
def membership_set():
    for i in range(1000):
        i in s

def membership_list():
    for i in range(1000):
        i in lst

def membership_tuples():
    for i in range(1000):
        i in tup

In [76]:
%timeit membership_set()

46 µs ± 458 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [77]:
%timeit membership_list()

4.95 ms ± 5.56 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [79]:
%timeit membership_tuples()

4.54 ms ± 37.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

so from above we saw that membership check in sets works very fast than other data structures like list and tuple